/* цвет основного текста  #757575;*/
/* цвет вторичного текста #212121;*/
/* цвет фона вторичный #2F303A;*/
/* цвет акцент #2196F3;*/
/* цвет белый #FFFFFF;*/
/* цвет gпепельный #F5F4FA;*/

/*common style*/
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);

  --items: 3;
  --indent: 30px;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*reset*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* header*/
.page-header {
  border-bottom: solid 1px #ececec;
}
.header-list {
  display: flex;
}
.header-container {
  display: flex;
  align-items: center;
}

.logo-header {
  display: inline-block;

  color: var(--title-text-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  text-decoration: none;
  margin-right: 93px;
}
.logo-part {
  color: var(--accent-color);
}
/*nav*/
.nav-link {
  display: inline-block;
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-link.current,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.nav-list:not(:last-child) {
  margin-right: 50px;
}

.contacts-header {
  margin-left: auto;
}

.contacts-header-link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-header-link:not(:last-child) {
  margin-right: 50px;
}
.contacts-header-link:hover,
.contacts-header-link:focus {
  color: var(--accent-color);
}
/*hero*/
.hero {
  background-color: var(--secondary-bg-color);
  color: var(--primary-bg-color);
  text-align: center;
  padding: 200px 0;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.hero-button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-decoration: none;

  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  cursor: pointer;
}
.hero-button:focus,
.hero-button:hover {
  background-color: #188ce8;
}

/* Секции*/

.features-container {
  display: flex;
}
.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.17;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list:not(:last-child) {
  margin-right: 30px;
}
.features-descr {
  line-height: 1.17;
}
/*Works*/
.works {
  padding-top: 0;
}
.works-container {
  display: flex;
}
.works-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}
.works-link:not(:last-child) {
  margin-right: 30px;
}
/*team*/

.team {
  background-color: var(--team-bg-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-container {
  display: flex;
}
.team-list {
  background-color: var(--primary-bg-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-list:not(:last-child) {
  margin-right: 30px;
}
.team-descr {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  margin-bottom: 50px;
}
.team-title-name {
  color: var(--title-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}
/* Футер*/
.footer {
  background-color: var(--secondary-bg-color);
  padding: 60px 0;
}
.logo-footer {
  display: inline-block;
  color: var(--primary-bg-color);

  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;

  margin-bottom: 20px;
}
.address {
  color: var(--primary-bg-color);
  font-style: normal;
  margin-bottom: 9px;
}
.contacts-footer-link {
  display: inline-block;
  color: var(--contacts-footer-color);
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  text-align: center;
  text-decoration: none;
}
.contacts-footer-link:hover,
.contacts-footer-link:focus {
  color: var(--accent-color);
}
.contacts-footer-list:not(:last-child) {
  margin-bottom: 9px;
}

/*Портфолио*/
/*button*/

.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-link:not(:last-child) {
  margin-right: 8px;
}
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--indent) / 2);
}
.portfolio-item {
  flex-basis: calc ((100% - var(--indent)) * var (--items)) / var(--items);
  margin: calc(var(--indent) / 2);
}
.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.btn-portfolio {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  display: inline-block;
  padding: 6px 22px;
}
.btn-portfolio.accent,
.btn-portfolio:focus,
.btn-portfolio:hover {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}
.portfolio-link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  text-align: left;
  text-decoration: none;
}
.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
}
